<!DOCTYPE html>
<html lang="en"  xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>


<h3>Add a Category</h3>

<form method="POST" action="/addcategory" th:object="${cate}" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" th:field="*{id}" class="form-control" />
    </div>
    <div class="form-group">
        <label for="catetypeInput">Category: </label>
        <input type="text" th:field="*{catetype}" class="form-control" id="catetypeInput" placeholder="Enter category" />
    </div>


    <button type="submit" class="">Submit</button>

</form>


</body>
</html>